@page "/codice"

<h3>Codice</h3>

@if (string.IsNullOrEmpty(unlockCode))
{
    <div class="center">
        <input type="text" @bind="authCode" placeholder="Inserisci l'authcode" />
        <button @onclick="FetchUnlockCode">Invia richiesta</button>
    </div>
}
@if (!string.IsNullOrEmpty(unlockCodeMessage))
{
    <div class="center">
        @unlockCodeMessage
    </div>
}

@code {
    private string authCode;
    private string unlockCode;
    private string unlockCodeMessage;

    [Inject]
    private HttpClient HttpClient { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private async Task FetchUnlockCode()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        if (user.Identity.IsAuthenticated)
        {
            var token = user.FindFirst("token")?.Value;

            if (!string.IsNullOrEmpty(token))
            {
                HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

                var response = await HttpClient.GetAsync("https://gruppo6-webapp.azurewebsites.net/api/Logs/unlock/");

                if (response.IsSuccessStatusCode)
                {
                    unlockCode = await response.Content.ReadAsStringAsync();
                    unlockCodeMessage = "Codice di sblocco: " + unlockCode;
                }
                else
                {
                    unlockCodeMessage = "Codice inserito sbagliato o scaduto";
                }
            }
        }
    }
}
