@page "/login"

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<EditForm Model="_userForAuthentication" OnValidSubmit="ExecuteLogin" class="card card-body bg-light mt-5 w-50" style="display: flex;">
    <DataAnnotationsValidator />
    <div class="form-group row mt-1">
        <label for="username" class="col-md-2 col-form-label">Username:</label>
        <div class="col-md-10">
            <InputText id="username" class="form-control" @bind-Value="_userForAuthentication.username" />
            <ValidationMessage For="@(() => _userForAuthentication.username)" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForAuthentication.password" />
            <ValidationMessage For="@(() => _userForAuthentication.password)" />
        </div>
    </div>

    <div style="display:flex; align-self: end; margin-top: 10px;">
            <button type="submit" class="btn btn-success mx-auto">Login</button>
    </div>
</EditForm>
