@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">

    <main>
        <div class="top-row px-4 mt-2 position-absolute top-0 end-0">
            <AuthorizeView>
                <Authorized>
                    <button type="button" class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/Logout")'>Log out</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/Registration")'>Sign Up</button>
                    <button type="button" class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/Login")'>Log in</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
